.menu {
  display: none;
}

.close {
  display: none;
}

@media (min-width: 375px) {
  .nav {
    position: absolute;
    width: 100vw;
    height: 200vh;

    top: 0px;
    left: -140%;
  }
  .nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .nav ul li {
    font-size: 50px;
    margin-top: 40px;

    align-items: center;
  }

  .nav--visible {
    left: 0;
  }
  .menu--hidden {
    display: none;
  }
  .close--visible {
    display: block;

    z-index: 2;

    cursor: pointer;
  }
  .menu {
    display: block;

    cursor: pointer;

    width: 30px;
    height: auto;
  }

  .body-no-overflow {
    overflow: hidden;
  }
}
