.contentDetailContainer3 {
  line-height: 1.7;
}

@media (min-width: 500px) {
  .detailContainer3GridWrapper {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    padding: 50px 0;
  }
  .headingDetailContainer3 {
    color: #072975;
    font-size: large;
    margin-top: 30px;
  }
  .detailContainer3GridWrapper p {
    color: #3f3f3f;
    font-size: small;
  }
  .detailContainer3GridWrapper img {
    width: 70%;
    margin: auto;
    padding: 30px 0;
  }
  .detailsContainer3 ::after {
    content: "";
    height: 70px;
    width: 2px;
    background-color: #1951d6;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
}
@media (min-width: 750px) {
  .detailContainer3GridWrapper img {
    width: 70%;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .detailContainer3GridWrapper {
    grid-template-columns: 1fr 1fr;
  }
  .detailContainer3GridWrapper .contentDetailContainer3 {
    font-size: 15px;
  }
  .headingDetailContainer3 {
    font-size: 30px;
  }
}
