.phone {
  font-weight: bolder;

  grid-area: phone;

  text-decoration: none;

  text-transform: uppercase;

  grid-column: 3/3;
  grid-row: 1/2;

  font-family: "Montserrat ", sans-serif;
  font-weight: 700;
}

@media (min-width: 375px) {
  .phone {
    font-size: 12px;
  }
}
