@media (min-width: 500px) {
  .detailContainer1GridWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .headingDetailContainer1 {
    color: #072975;
    font-size: large;
  }
  .detailContainer1GridWrapper p {
    color: #3f3f3f;
    font-size: small;
  }
  .detailContainer1GridWrapper img {
    width: 100%;
    padding: 30px 0;
  }
}
