.contentDetailContainer1 {
  line-height: 1.8;
}

.headingDetailContainer1 {
  font-family: "Playfair Display", serif;
}
.contentDetailContainer1 {
  font-family: "Montserrat ", sans-serif;
}

@media (min-width: 375px) {
  .detailContainer1GridWrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px 0;
  }
  .headingDetailContainer1 {
    color: #072975;
    font-size: large;
    text-align: center;

    margin-top: 0;
  }
  .contentDetailContainer1 {
    color: #3f3f3f;
    font-size: small;
    text-align: center;
  }
  .detailContainer1GridWrapper img {
    width: 100%;
    padding: 30px 0;
    margin: auto;
  }
}
@media (min-width: 750px) {
  .detailContainer1TextContainer {
    padding: 20px;
  }
  .detailContainer1GridWrapper img {
    width: 80%;
    margin: auto;
    padding: 30px 0;
  }
  .headingDetailContainer1 {
    text-align: left;
  }
  .contentDetailContainer1 {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .detailContainer1GridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .detailContainer1TextContainer {
    padding: 0 0 30px 50px;
  }

  .contentDetailContainer1 {
    font-size: 15px;
    width: 80%;
  }
  .headingDetailContainer1 {
    font-size: 30px;
  }

  .detailContainer1GridWrapper img {
    padding-top: 25px;
    margin-top: 0;
  }
}
