@media (min-width: 375px) {
  .heroProductsFlexWrapper {
    display: flex;
    flex-direction: column;

    background-image: url(../../../images/banners/contact-page/contactBanner.jpg);

    height: 20vh;
    width: 100%;

    font-family: "Playfair Display", serif;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .productsHeroContent {
    margin: auto;
  }
  .productsHeroContent h1 {
    text-transform: capitalize;
  }
}
@media (min-width: 1200px) {
  .heroProductsFlexWrapper {
    height: 30vh;
  }
}
