@media (min-width: 500px) {
  .nav {
    display: inline-block;

    font-weight: bold;

    transition: left 0.2s linear;

    justify-self: end;

    grid-column: 2/3;
    grid-row: 1/2;
  }

  .nav--ul {
    display: flex;

    flex-direction: row;
    gap: 30px;
  }

  .nav--list {
    font-size: 12px;

    list-style: none;

    justify-content: center;

    text-transform: uppercase;
  }
}
