a {
  text-decoration: none;
}

.nav {
  color: white;
}

.header .nav--list {
  margin-left: 40px;
  font-size: 12px;

  list-style: none;

  text-transform: capitalize;

  justify-content: center;

  text-transform: uppercase;
  font-family: "Montserrat ", sans-serif;
  font-weight: 700;
}
.header .nav--ul {
  display: flex;

  flex-direction: row;
}
.header .nav {
  display: inline-block;

  color: white;

  z-index: 1;

  justify-self: end;
}

@media (max-width: 500px) {
  /* burger menu-nav */

  .nav {
    position: absolute;
    width: 100vw;
    height: 200vh;

    top: 0px;
    left: -140%;
  }
  .generic .nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .generic .nav ul li {
    font-size: 50px;
    margin-top: 40px;

    align-items: center;
  }

  .nav--visible {
    left: 0;
  }
  .menu--hidden {
    display: none;
  }
  .close--visible {
    display: block;

    z-index: 2;

    cursor: pointer;
  }
  .menu {
    display: block;

    cursor: pointer;
  }

  .body-no-overflow {
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .header .menu {
    display: none;
  }
  .header .nav {
    left: 0;
    position: relative;
    width: fit-content;
    height: auto;
    vertical-align: middle;
  }
  .header .nav ul {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0;
  }

  .header .nav--list {
    font-size: 13px;
    margin-top: 0px;
    align-items: center;
  }
}
