a {
  text-decoration: none;
}

.nav {
  color: white;
}

.navLi {
  margin-left: 40px;
  font-size: 12px;

  list-style: none;

  text-transform: capitalize;

  justify-content: center;

  text-transform: uppercase;
  font-family: "Montserrat ", sans-serif;
  font-weight: 700;
}

.close {
  display: none;
}

@media (min-width: 375px) {
  .nav {
    position: absolute;
    width: 100vw;
    height: 200vh;
    transition: left 0.2s linear;

    left: -140%;

    top: 0px;

    background-color: #000c2f;

    align-items: center;
    z-index: 1;
  }
  .navLi {
    font-size: 30px;
    padding-top: 20px;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .navUl {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 50px;
    margin-left: -70px;
  }

  .closeVisible {
    display: block;

    z-index: 2;

    cursor: pointer;
  }

  .closeHidden {
    display: none;
  }
  .menuHidden {
    display: none;
  }

  .navVisible {
    left: 0;
  }
  .navHidden {
    left: -140%;
  }

  .menuVisible {
    display: block;
    cursor: pointer;

    width: 30px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .menu {
    display: none;
  }
  .nav {
    left: 0;
    position: relative;
    width: fit-content;
    height: auto;
    vertical-align: middle;
    margin-top: 0px;
    background-color: transparent;
    display: inline-block;

    color: white;

    justify-self: end;
  }
  .navUl {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 0px;
  }

  .navLi {
    font-size: 13px;
    margin-top: 0px;
    align-items: center;
    padding-top: 0px;
  }
}
